@import './base/variables';
@import './componentes/main';


footer{
    #redes{
        display: flex;
        justify-content: space-evenly;
        font-size: 5rem;
        background-color: yellow;
    }.links{
        display: flex;
        justify-content: center;
    }
}

nav{
    background-color: black;
}

.titulos{
    @extend nav;
    color: black;
    text-align: center;
    font-size: 3.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-style: oblique;
    font-weight: bold;
}